

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg)
  }
}


/* CSS TABLE */

#table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}


#table th {
  text-align: center;
  background-color: lightcoral;
  color: white;
}

#table th, #table td {
  border: 1px solid #ddd;
  padding: 12px;
}
